{% set title = user.username %}

{% extends 'base.html' %}

{% block content %}

<div class="container">
	<h1>{% if sum >= 0 and 
		sum <= 20 %}
		<img src="http://i.imgur.com/IOPfGR1.png" alt="Bronze" style="width:60px;height:60px;">
		{% elif sum >= 21 and 
		sum <= 50 %}
		<img src="http://i.imgur.com/5p3oVLb.png" alt="Silver" style="width:60px;height:60px;">
		{% elif sum >= 51 and 
		sum <= 90 %}
		<img src="http://i.imgur.com/EuC0Ruo.png" alt="Gold" style="width:60px;height:60px;">
		{% elif sum >= 91 and 
		sum <= 140 %}
		<img src="http://i.imgur.com/WtX1Z3j.png" alt="Platinum" style="width:60px;height:60px;">
		{% elif sum >= 141 and 
		sum <= 200 %}
		<img src="http://i.imgur.com/VhB2jmf.png" alt="Diamond" style="width:60px;height:60px;">
		{% elif sum >= 201 %}
		<img src="http://i.imgur.com/TgwOyEY.png" alt="Hero" style="width:60px;height:60px;">
		{% endif %}
		{{ user }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<td width="25%">Total shared codes</td>
					<td width="25%" align="center">{{ shares }}</td>
					<td width="25%">Total upvoted codes</td>
					<td width="25%" align="center">{{ share_upvotes }}</td>
				</tr>
				<tr>
					<td width="25%">Total shared hints</td>
					<td width="25%" align="center">{{ hints }}</td>
					<td width="25%">Total upvoted hints</td>
					<td width="25%" align="center">{{ hint_upvotes }}</td>
				</tr>
				<tr>
					<td colspan="3" width="75%">積分=shared codes + upvoted codes + upvoted codes + upvoted hints</td>
					<td width="25%" align="center">{{ sum }}</td>
				</tr>
			</tbody>
		</table>

		<h2>Level </h2>
		<table class="table">
			<thead>
				<tr>
					<th>位階</th>
					<th>位階名稱</th>
					<th>積分</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="http://i.imgur.com/TgwOyEY.png" alt="Hero" style="width:40px;height:40px;"></td>
					<td>菁英</td>
					<td>201	-	</td>
				</tr>
				<tr>
					<td><img src="http://i.imgur.com/VhB2jmf.png" alt="Diamond" style="width:40px;height:40px;"></td>
					<td>鑽石</td>
					<td>141	-	200</td>
				</tr>
				<tr>
					<td><img src="http://i.imgur.com/WtX1Z3j.png" alt="Platinum" style="width:40px;height:40px;"></td>
					<td>白金</td>
					<td>91	-	140</td>
				</tr>
				<tr>
					<td><img src="http://i.imgur.com/EuC0Ruo.png" alt="Gold" style="width:40px;height:40px;"></td>
					<td>金牌</td>
					<td>51	-	90</td>
				</tr>
				<tr>
					<td><img src="http://i.imgur.com/5p3oVLb.png" alt="Silver" style="width:40px;height:40px;"></td>
					<td>銀牌</td>
					<td>21	-	50</td>
				</tr>
				<tr>
					<td><img src="http://i.imgur.com/IOPfGR1.png" alt="Bronze" style="width:40px;height:40px;"></td>
					<td>銅牌</td>
					<td>0	-	20</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endblock %}
