{% set title = 'About' %}

{% extends 'base.html' %}

{% block content %}
<h1 class="page-header">About Happy Coding</h1>
<p>Happy coding is a place where <a href="http://acm.cs.nthu.edu.tw/" target="_blank">NTHU OJ</a>
users share their ideas.</p>
<p>
  Once you solve a problem, you can share it on Happy Coding to see others' solutions, and provide some hints about the problem. <br>However, If you could not manage to solve it, you can see hints provided by those who solved them.
</p>
{% endblock %}
