{% set title = 'History' %}

{% extends 'base.html' %}

{% block content %}
<h1 class="page-header">History</h1>
<h3>Computer Science - Introduction to Programming (I)</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Homework</th>
        <th>NTHU OJ</th>
        <th>Happy Coding</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td>1</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10716/" target="blank"> 10716</a></td>
      	<td>
      	<a href="/problem/10716">10716</a></td>
      </tr>
      <tr>
      	<td>2</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10066/" target="blank"> 10066</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10067/" target="blank"> 10067</a></td>
      	<td>
      	<a href="/problem/10066">10066</a><br>
		<a href="/problem/10067">10067</a></td>
      </tr>
      <tr>
      	<td>3</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10739/" target="blank"> 10739</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10097/" target="blank"> 10097</a></td>
      	<td>
      	<a href="/problem/10739">10739</a><br>
		<a href="/problem/10097">10097</a></td>
      </tr>
      <tr>
      	<td>4</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10758/" target="blank"> 10758</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10759/" target="blank"> 10759</a></td>
      	<td>
      	<a href="/problem/10758">10758</a><br>
		<a href="/problem/10759">10759</a></td>
      </tr>
      <tr>
      	<td>Midterm exam practice</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10768/" target="blank"> 10768</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10769/" target="blank"> 10769</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10770/" target="blank"> 10770</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10772/" target="blank"> 10772</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10773/" target="blank"> 10773</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10774/" target="blank"> 10774</a></td>
      	<td>
      	<a href="/problem/10768">10768</a><br>
      	<a href="/problem/10769">10769</a><br>
      	<a href="/problem/10770">10770</a><br>
      	<a href="/problem/10772">10772</a><br>
      	<a href="/problem/10773">10773</a><br>
		<a href="/problem/10774">10774</a></td>
      </tr>
      <tr>
      	<td>5</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10099/" target="blank"> 10099</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10162/" target="blank"> 10162</a></td>
      	<td>
      	<a href="/problem/10099">10099</a><br>
		<a href="/problem/10162">10162</a></td>
      </tr>
      <tr>
      	<td>6</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10806/" target="blank"> 10806</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10808/" target="blank"> 10808</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10811/" target="blank"> 10811</a></td>
      	<td>
      	<a href="/problem/10806">10806</a><br>
      	<a href="/problem/10808">10808</a><br>
		<a href="/problem/10811">10811</a></td>
      </tr>
      <tr>
      	<td>7</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10824/" target="blank"> 10824</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10825/" target="blank"> 10825</a></td>
      	<td>
      	<a href="/problem/10824">10824</a><br>
		<a href="/problem/10825">10825</a></td>
      </tr>
      <tr>
      	<td>8</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10832/" target="blank"> 10832</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10833/" target="blank"> 10833</a></td>
      	<td>
      	<a href="/problem/10832">10832</a><br>
		<a href="/problem/10833">10833</a></td>
      </tr>
      <tr>
      	<td>9</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10839/" target="blank"> 10839</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10840/" target="blank"> 10840</a></td>
      	<td>
      	<a href="/problem/10839">10839</a><br>
		<a href="/problem/10840">10840</a></td>
      </tr>
      <tr>
      	<td>Midterm exam practice</td>
      	<td>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10845/" target="blank"> 10845</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10846/" target="blank"> 10846</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10848/" target="blank"> 10848</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10849/" target="blank"> 10849</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10850/" target="blank"> 10850</a><br>
      	<a href="http://acm.cs.nthu.edu.tw/problem/10852/" target="blank"> 10852</a></td>
      	<td>
      	<a href="/problem/10845">10845</a><br>
      	<a href="/problem/10846">10846</a><br>
      	<a href="/problem/10848">10848</a><br>
      	<a href="/problem/10849">10849</a><br>
      	<a href="/problem/10850">10850</a><br>
		<a href="/problem/10852">10852</a></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
