{% set title = 'Home' %}

{% extends 'base.html' %}

{% block endhead %}
<style>
body {
	color: #fff;
	text-align: center;
  background: url("{{ static('bg.jpg') }}") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
div.box {
  margin-top: 20vh;
}
input {
  min-width: 30vw!important;
  margin-left: auto!important;
  margin-right: auto!important;
  text-align: center;
}
</style>
{% endblock %}

{% block content %}
<div class="box">
  <div>
    <img src="{{ static('logo.png') }}">
  </div>
  <form class="form-inline">
  {{ bootstrap.form(form, layout="inline") }}
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
