<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        {% for i in range(3) %}
        <span class="icon-bar"></span>
        {% endfor %}
      </button>
      <a href="{{ url('index') }}"><span class="navbar-brand" title="享寫 CODE">享寫 CODE</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url('about') }}">About</a></li>
        <li><a href="http://goo.gl/forms/w5OEMX40sl">意見回饋</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CS程設 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Midterm exam practice</li>
            <li><a href="/problem/10845">10845</a></li>
            <li><a href="/problem/10846">10846</a></li>
            <li><a href="/problem/10848">10848</a></li>
            <li><a href="/problem/10849">10849</a></li>
            <li><a href="/problem/10850">10850</a></li>
            <li class="dropdown-header">Homework</li>
            <li><a href="/problem/10839">10839</a></li>
            <li><a href="/problem/10840">10840</a></li>
            <li class="dropdown-header">Test</li>
            <li><a href="/problem/10841">10841</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CS資結 <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li class="dropdown-header">Homework</li>
             <li class="dropdown-header">Test</li>
             <li><a href="/problem/10793">10793</a></li>
             <li><a href="/problem/10794">10794</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EE資結 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Homework</li>
            <li><a href="/problem/10835">10835</a></li>
            <li><a href="/problem/10836">10836</a></li>
            <li><a href="/problem/10837">10837</a></li>
            <li><a href="/problem/10838">10838</a></li>
            <li class="dropdown-header">Test</li>
          </ul>
        </li>
        {% if request.path != "/" %}
        <li>
          <div style="margin: 8px 0 0 8px;">
            <form class="form-inline" action="/">
              <input class="form-control" id="id_oj_id" name="oj_id" placeholder="Problem ID" required="required" title="" type="text">
            </form>
          </div>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated() %}
        <li><a href="{{ url('accounts:profile', pk=request.user.pk) }}">{{ request.user }}</a></li>
        <li><a href="{{ url('accounts:logout') }}?next={{ request.path }}" title="不享寫 Code?">登出</a></li>
        {% else %}
        <li><a href="{{ url('accounts:login') }}">登入</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
