<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        {% for i in range(3) %}
        <span class="icon-bar"></span>
        {% endfor %}
      </button>
      <a href="{{ url('index') }}"><span class="navbar-brand" title="享寫 CODE">享寫 CODE</span></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated() %}
        <li><a>{{ request.user }}</a></li>
        <li><a href="{{ url('accounts:logout') }}?next={{ request.path }}" title="不享寫 Code?">登出</a></li>
        {% else %}
        <li><a href="{{ url('accounts:login') }}">登入</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
